# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Log files
*.log

# Flask instance folder
instance/

# Environments
.env
.venv/
venv/
ENV/
env/

# VS Code settings and extensions
.vscode/

# MacOS
.DS_Store

# Pytest cache
.pytest_cache/

# Pipenv files (caso use)
Pipfile.lock

# Coverage reports
htmlcov/
coverage.xml

# Database dump files
*.sql
*.dump
