<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Agenda de Contatos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Agenda de Contatos online</h1>

  <ul>
    {% for contact in contacts %}
      <li>
        <div class="contact-info"><strong>{{ contact.name }}</strong>
            <span>{{ contact.email }} - {{ contact.phone }}</span>
            <p>{{ contact.notes }}</p>
        </div>
        <div class="actions">
            <a href="{{ url_for('main.delete', id=contact.id) }}">Remover</a> |
            <a href="{{ url_for('main.edit', id=contact.id) }}">Editar</a>
        </div>
      </li>
      {%else%}
        <li class="empty">Nenhum contato encontrado</li>
    {% endfor %}
  </ul>

  <h2>Adicionar Contato</h2>
  <form method="POST" action="{{ url_for('main.create') }}">
    <input name="name" placeholder="Nome" required>
    <input name="email" placeholder="Email" required>
    <input name="phone" placeholder="Telefone">
    <textarea name="notes" placeholder="Observações"></textarea>
    <button type="submit">Salvar</button>
  </form>
</body>
</html>
